In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from IPython.display import display, HTML
from lightgbm import LGBMRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_log_error
import time
import math
from sklearn.model_selection import GridSearchCV

# Download data

In [2]:
train = pd.read_csv('./train.csv', index_col='id')
test = pd.read_csv('./test.csv', index_col='id')
train['timestamp'] = train['timestamp'].apply(pd.to_datetime)
test['timestamp'] = test['timestamp'].apply(pd.to_datetime)

In [3]:
def num_houses_with_bigger_column_value (column_name, value):
    return len(train[train[column_name] > value].index)

def num_houses_with_less_column_value (column_name, value):
    return len(train[train[column_name] < value].index)

In [4]:
def plot_feature_kde(column_name, min_value, max_value):
    data = train[column_name]
    data = data.where(data.notnull(), axis=0)
    data = data[(min_value <= data) & (data <= max_value)]
    ax = sns.kdeplot(data=data, shade=True)
    ax.set(xlabel= column_name, ylabel='density')

def plot_regplot(column_name1, column_name2, col1_min, col1_max, col2_min, col2_max, alpha=0.1):
    reg_plot_data = train[[column_name1, column_name2]]
    reg_plot_data = reg_plot_data[(col1_min <= train[column_name1]) & (train[column_name1] <= col1_max) \
                                & (col2_min <= train[column_name2]) & (train[column_name2] <= col2_max)]
    sns.regplot(x=reg_plot_data[column_name1], y=reg_plot_data[column_name2], \
              scatter_kws={'alpha':alpha})

def plot_features_jointplot(column_name1, column_name2, col1_min, col1_max, \
                            col2_min, col2_max, alpha=0.1):
    data = train.loc[:, [column_name1, column_name2]]
    data = data[data.notnull().all(axis=1)]
    data = data[(col1_min <= data[column_name1]) & (data[column_name1] <= col1_max) \
              & (col2_min <= data[column_name2]) & (data[column_name2] <= col2_max)]
    sns.jointplot(column_name1, column_name2, data=data, kind="kde", space=0, color="b", \
                scatter_kws={'alpha':alpha})

def plot_lmplot(column_name1, column_name2, hue, col1_min, col1_max, \
                            col2_min, col2_max, alpha=0.1):
    data = train.loc[:, [column_name1, column_name2, hue]]
    data=data[data.notnull().all(axis=1)]
    data = data[(col1_min <= data[column_name1]) & (data[column_name1] <= col1_max) \
              & (col2_min <= data[column_name2]) & (data[column_name2] <= col2_max)]
    sns.lmplot(x=column_name1, y=column_name2, hue=hue, data=data, scatter_kws={'alpha':alpha})

def plot_distplot(column_name):
    sns.distplot(a=train[column_name], kde=False)

# Understanding missing values

In [5]:
numeric_nan_info = train._get_numeric_data().isna().sum()
print(len(numeric_nan_info[numeric_nan_info > 0]), 'numeric columns have missing values.\n')
numeric_nan_info[numeric_nan_info > 0]

51 numeric columns have missing values.

life_sq                                   6383
floor                                      167
max_floor                                 9572
material                                  9572
build_year                               13605
num_room                                  9572
kitch_sq                                  9572
state                                    13559
preschool_quota                           6688
school_quota                              6685
hospital_beds_raion                      14441
raion_build_count_with_material_info      4991
build_count_block                         4991
build_count_wood                          4991
build_count_frame                         4991
build_count_brick                         4991
build_count_monolith                      4991
build_count_panel                         4991
build_count_foam                          4991
build_count_slag                          4991
build_count_mix                           4991
raion_build_count_with_builddate_info     4991
build_count_before_1920                   4991
build_count_1921-1945                     4991
build_count_1946-1970                     4991
build_count_1971-1995                     4991
build_count_after_1995                    4991
metro_min_walk                              25
metro_km_walk                               25
railroad_station_walk_km                    25
railroad_station_walk_min                   25
ID_railroad_station_walk                    25
cafe_sum_500_min_price_avg               13281
cafe_sum_500_max_price_avg               13281
cafe_avg_price_500                       13281
cafe_sum_1000_min_price_avg               6524
cafe_sum_1000_max_price_avg               6524
cafe_avg_price_1000                       6524
cafe_sum_1500_min_price_avg               4199
cafe_sum_1500_max_price_avg               4199
cafe_avg_price_1500                       4199
cafe_sum_2000_min_price_avg               1725
cafe_sum_2000_max_price_avg               1725
cafe_avg_price_2000                       1725
cafe_sum_3000_min_price_avg                991
cafe_sum_3000_max_price_avg                991
cafe_avg_price_3000                        991
prom_part_5000                             178
cafe_sum_5000_min_price_avg                297
cafe_sum_5000_max_price_avg                297
cafe_avg_price_5000                        297
dtype: int64

In [6]:
numeric_features = train._get_numeric_data().columns
categorical_features = set(train.columns) - set(numeric_features)
categorical_features_nan_info = train[categorical_features].isna().sum()
print(len(categorical_features_nan_info[categorical_features_nan_info > 0]), \
      'categorical columns have missing values.\n')
categorical_features_nan_info[categorical_features_nan_info > 0]

0 categorical columns have missing values.

Series([], dtype: int64)

In [7]:
print(categorical_features)

{'big_market_raion', 'oil_chemistry_raion', 'incineration_raion', 'water_1line', 'ecology', 'railroad_1line', 'sub_area', 'nuclear_reactor_raion', 'detention_facility_raion', 'product_type', 'big_road1_1line', 'radiation_raion', 'railroad_terminal_raion', 'thermal_power_plant_raion', 'culture_objects_top_25', 'timestamp'}

In [8]:
categorical_features.remove('timestamp')

In [9]:
train.describe()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,3.047100e+04,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,1.765705e+07,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,2.064961e+07,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,2.081628e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,38.000000,20.000000,3.000000,9.000000,1.000000,1.967000e+03,1.000000,1.000000,1.000000,7.307411e+06,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000,1.050803e+07,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,63.000000,43.000000,11.000000,17.000000,2.000000,2.005000e+03,2.000000,9.000000,3.000000,1.803644e+07,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,2.060718e+08,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [10]:
heatmap_df = train.iloc[:, 1:9].copy()
heatmap_df.dropna(inplace=True)
heatmap_df.corr()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq
full_sq,1.000000,0.254972,0.160772,0.208166,0.050752,-0.006065,0.713927,0.042118
life_sq,0.254972,1.000000,0.034216,0.043237,0.010481,-0.002401,0.187473,0.002555
floor,0.160772,0.034216,1.000000,0.535355,0.028114,0.001426,0.003288,0.008220
max_floor,0.208166,0.043237,0.535355,1.000000,0.071513,-0.000283,-0.006762,0.040285
material,0.050752,0.010481,0.028114,0.071513,1.000000,-0.004606,-0.040406,0.033845
build_year,-0.006065,-0.002401,0.001426,-0.000283,-0.004606,1.000000,-0.008501,0.000490
num_room,0.713927,0.187473,0.003288,-0.006762,-0.040406,-0.008501,1.000000,0.016216
kitch_sq,0.042118,0.002555,0.008220,0.040285,0.033845,0.000490,0.016216,1.000000

## &emsp; Product type NaN filling in test data

In [11]:
test[pd.isnull(test['product_type'])]

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
id,,,,,,,,,,,,,,,,,,,,,
35136,2016-02-03,63.90,33.70,8,17,1,2013.0,2,12.9,3.0,...,3,1,0,0,4,5,0,0,4,1
35155,2016-02-03,39.30,22.70,10,12,5,1968.0,2,6.8,2.0,...,22,5,2,0,7,17,0,9,53,10
35227,2016-02-04,77.20,77.20,12,0,1,0.0,2,0.0,NaN,...,4,2,2,0,2,12,0,0,6,3
35258,2016-02-05,35.21,13.66,4,1,1,NaN,1,1.0,1.0,...,1,1,0,0,2,7,0,0,0,0
35265,2016-02-05,59.00,42.00,6,9,1,1979.0,3,5.9,3.0,...,32,18,5,1,5,12,0,1,57,4
35274,2016-02-05,38.90,18.90,9,17,6,2015.0,1,9.2,1.0,...,4,1,1,0,2,12,0,0,7,0
35521,2016-02-11,76.00,45.40,12,17,1,1991.0,3,10.2,NaN,...,5,1,1,0,2,9,0,1,10,2
35573,2016-02-12,46.80,28.60,4,13,1,1971.0,2,6.1,3.0,...,40,29,16,2,10,25,1,5,82,1
35585,2016-02-12,37.20,16.90,6,18,1,1972.0,1,10.4,3.0,...,102,40,4,1,4,36,1,7,81,10
35667,2016-02-15,42.30,28.20,3,9,2,1971.0,2,4.9,2.0,...,28,12,3,0,9,25,0,4,65,13
35726,2016-02-16,51.80,30.30,16,17,1,2001.0,2,9.8,2.0,...,6,1,0,0,4,6,0,0,5,1
35765,2016-02-16,49.90,30.20,9,17,1,1986.0,2,8.2,3.0,...,15,5,2,0,7,12,0,1,31,8
35970,2016-02-20,82.20,49.20,2,14,1,1953.0,3,8.8,2.0,...,46,25,5,1,6,19,1,3,52,4
36300,2016-03-02,34.40,1.00,15,17,1,NaN,2,1.0,1.0,...,5,2,2,0,3,13,0,0,7,3
36328,2016-03-03,78.40,51.40,5,5,2,1960.0,3,8.6,2.0,...,55,34,5,0,22,46,0,12,96,5
36383,2016-03-04,46.80,23.00,4,23,4,2014.0,1,12.4,1.0,...,26,8,0,0,5,23,0,1,35,8
36410,2016-03-05,58.20,43.40,7,9,1,1976.0,3,5.9,3.0,...,19,4,0,0,5,21,0,1,26,6
36620,2016-03-14,35.10,NaN,12,12,1,NaN,2,1.0,1.0,...,5,2,2,0,3,13,0,0,7,3
36823,2016-03-19,46.50,28.50,10,12,1,1978.0,2,6.7,3.0,...,15,5,2,0,4,11,0,2,36,8
36911,2016-03-22,52.10,30.30,6,9,1,1977.0,2,8.6,2.0,...,32,7,3,0,10,12,0,0,39,4
36941,2016-03-23,44.80,1.00,3,1,1,2016.0,2,1.0,1.0,...,5,2,2,0,3,13,0,0,7,3
37029,2016-03-24,75.90,44.80,14,17,1,2004.0,3,12.7,3.0,...,28,12,2,0,8,27,1,4,47,14
37097,2016-03-28,57.90,32.10,8,17,1,1994.0,2,10.1,2.0,...,59,40,13,1,10,22,0,5,94,5
37175,2016-03-30,71.80,49.80,6,8,2,1961.0,3,8.1,3.0,...,77,31,13,2,14,29,0,4,104,15
37281,2016-04-02,63.60,33.80,3,17,1,2011.0,2,12.7,3.0,...,2,1,0,0,0,7,0,0,3,0
37450,2016-04-08,54.60,36.00,3,7,2,1924.0,2,8.2,3.0,...,152,86,16,3,40,82,1,28,128,9
37589,2016-04-14,60.10,34.30,3,22,1,2008.0,2,10.2,3.0,...,13,8,1,0,7,7,0,2,27,1
37633,2016-04-18,44.80,NaN,8,16,1,2016.0,2,1.0,1.0,...,5,2,2,0,3,13,0,0,7,3
37647,2016-04-18,63.20,43.60,3,9,1,1969.0,3,7.2,2.0,...,48,11,2,0,5,30,1,5,48,13
37696,2016-04-20,44.70,21.90,3,5,1,NaN,1,1.0,NaN,...,1,3,1,0,0,6,0,0,3,2
37702,2016-04-20,35.10,NaN,14,1,1,2016.0,2,1.0,1.0,...,636,371,141,26,150,249,2,105,203,13
37709,2016-04-20,61.70,32.00,3,17,1,2009.0,2,12.7,2.0,...,42,12,6,0,13,13,0,1,55,9
37974,2016-05-06,64.60,38.70,9,12,1,1983.0,3,8.3,3.0,...,22,17,13,1,8,16,0,2,49,0

In [12]:
train.loc[train['product_type'] == 'Investment','build_year'].median()

1976.0

In [13]:
train.loc[train['product_type'] == 'OwnerOccupier','build_year'].median()

2014.0

## &emsp; Data processing

In [14]:
my_imputer = SimpleImputer(strategy="median")
my_scaler = StandardScaler()

In [15]:
missed_features = np.array(['preschool_quota', 'school_quota',
       'hospital_beds_raion', 'raion_build_count_with_material_info',
       'build_count_block', 'build_count_wood', 'build_count_frame',
       'build_count_brick', 'build_count_monolith', 'build_count_panel',
       'build_count_foam', 'build_count_slag', 'build_count_mix',
       'raion_build_count_with_builddate_info', 'build_count_before_1920',
       'build_count_1921-1945', 'build_count_1946-1970',
       'build_count_1971-1995', 'build_count_after_1995', 'metro_min_walk',
       'metro_km_walk', 'railroad_station_walk_km',
       'railroad_station_walk_min', 'ID_railroad_station_walk',
       'cafe_sum_500_min_price_avg', 'cafe_sum_500_max_price_avg',
       'cafe_avg_price_500', 'cafe_sum_1000_min_price_avg',
       'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000',
       'cafe_sum_1500_min_price_avg', 'cafe_sum_1500_max_price_avg',
       'cafe_avg_price_1500', 'cafe_sum_2000_min_price_avg',
       'cafe_sum_2000_max_price_avg', 'cafe_avg_price_2000',
       'cafe_sum_3000_min_price_avg', 'cafe_sum_3000_max_price_avg',
       'cafe_avg_price_3000', 'prom_part_5000', 'cafe_sum_5000_min_price_avg',
       'cafe_sum_5000_max_price_avg', 'cafe_avg_price_5000'])

In [16]:
def change_life_sq (row):
    if row['life_sq'] > 100 and row['life_sq/full_sq'] > 1 / 0.67:
        return row['full_sq']
    elif row['life_sq/full_sq'] > 1 / 0.67:
        return row['life_sq'] - row['full_sq']
    elif row['full_sq'] < row['life_sq']:
        return row['full_sq']
    return row['life_sq']

def change_full_sq (row):
    if row['life_sq'] > 100 and row['life_sq/full_sq'] > 1 / 0.67:
        return row['full_sq']
    elif row['life_sq/full_sq'] > 1.3:
        return row['life_sq']
    elif row['full_sq'] < row['life_sq']:
        return row['life_sq']
    return row['full_sq']

def account_kitch_sq (row):
    if row['kitch_sq'] >= 0 and row['kitch_sq'] < row['full_sq_help']:
        return row['full_sq_help'] - row['kitch_sq']
    return row['life_sq_help']

def fill_max_floor (row):
    if not pd.isnull(row['build_year']) and row['build_year'] < 1930:
        return 2
    if not pd.isnull(row['max_floor']):
        return row['max_floor']
    if not pd.isnull(row['build_year']) and row['build_year'] > 0:
        dict_year = (row['build_year'] // 10) * 10
        if dict_year < 1930:
            return 2
        else:
            return d[dict_year]
    if not pd.isna(row['floor']):
        if row['floor'] > 16:
            return row['floor']
        if row['floor'] > 12:
            return 16
        if row['floor'] > 8:
            return 12
    return 8

def custom_pipeline(data_recieved, is_train=True, numeric_features=numeric_features):
    data = data_recieved.copy()
    
    if is_train:
        data.drop(data[data['full_sq'] > 1000].index, inplace=True)
        data.drop(data[data['build_year'] > 2018].index, inplace=True)
        data.drop(data[(data['full_sq'] == 0) & (data['life_sq'] == 0) & (data['kitch_sq'] == 0)].index, \
                  inplace=True)

    mean_division_value = 0.67
    
    data['life_sq/full_sq'] = data['life_sq'] / (data['full_sq'] + 1)
    data['life_sq/full_sq'].mask(np.isinf(data['life_sq/full_sq']), inplace=True)
    data['life_sq/full_sq'].fillna(mean_division_value, inplace=True)

    data.loc[data['life_sq'] > 200, 'life_sq'] = \
                                    data[data['life_sq'] > 200].apply(lambda x: \
                                    x['full_sq'] - x['kitch_sq'] if x['kitch_sq'] >= 0 else x['full_sq'], axis=1)

    mean_value = data['life_sq/full_sq'].mean()
    data['life_sq'] = data.apply(lambda x: x['life_sq'] if not pd.isnull(x['life_sq']) \
                                   else x['full_sq'] * mean_value, axis=1)
    
    data_help = data[['full_sq', 'life_sq', 'kitch_sq', 'life_sq/full_sq']].copy()
    data_help['life_sq_help'] = data_help.apply(change_life_sq, axis=1)
    data_help['full_sq_help'] = data_help.apply(change_full_sq, axis=1)
    data_help['life_sq_help'] = data_help.apply(account_kitch_sq, axis=1)
    data_help['life_sq_help'] = data_help.apply(lambda x: x['life_sq_help'] \
                                if not pd.isnull(x['life_sq_help']) else x['full_sq_help'] * mean_value, axis=1)
    data[['full_sq', 'life_sq']] = data_help[['full_sq_help', 'life_sq_help']]
    data.loc[data['life_sq/full_sq'] > 0.9, 'life_sq'] = \
                    data.loc[data['life_sq/full_sq'] > 0.9].apply(lambda x: x['full_sq'] * mean_value, axis=1)
    
    data.loc[:, 'life_sq'] = data.apply(lambda x: math.ceil(x['life_sq']), axis=1)
    data['life_sq/full_sq'] = (data['life_sq'] + 1) / (data['full_sq'] + 1)
    data['full_sq/life_sq'] = 1 / data['life_sq/full_sq']
    data['kitch_sq'] = data.apply(lambda x: x['full_sq'] - x['life_sq'] , axis = 1)
    data['life_sq/kitch_sq'] = (data['life_sq']) / (data['kitch_sq'] + 1)
    
    data_help = data[['kitch_sq', 'life_sq', 'full_sq', 'life_sq/kitch_sq', 'num_room']].copy()
    data_help['life_sq_help'] = data_help.apply(lambda x: x['kitch_sq'] \
                                        if x['life_sq/kitch_sq'] < x['num_room'] * 1.3 else x['life_sq'], axis=1)
    data_help['kitch_sq_help'] = data_help.apply(lambda x: x['life_sq'] \
                                        if x['life_sq/kitch_sq'] < x['num_room'] * 1.3 else x['kitch_sq'], axis=1)
    data[['life_sq', 'kitch_sq']]= data_help[['life_sq_help', 'kitch_sq_help']]
    
    data['life_sq/full_sq'] = (data['life_sq'] + 1) / (data['full_sq'] + 1)
    data['life_sq/kitch_sq'] = (data['life_sq'] + 1) / (data['kitch_sq'] + 1)
    data['full_sq/life_sq'] = 1 / data['life_sq/full_sq']
    data['kitch_sq/life_sq'] = 1 / data['life_sq/kitch_sq']
    
    data.rename(columns={'kitch_sq' : 'other_sq'}, inplace=True)
    
    numeric_features = [feature if feature != 'kitch_sq' else 'other_sq' for feature in numeric_features]
    
    data.loc[:, 'full_sq'] = data.apply(lambda x: round(x['full_sq']), axis=1)
    data.loc[:, 'life_sq'] = data.apply(lambda x: round(x['life_sq']), axis=1)
    data.loc[:, 'other_sq'] = data.apply(lambda x: round(x['other_sq']), axis=1)
    
    data.drop(columns=['life_sq/kitch_sq', 'kitch_sq/life_sq'], inplace=True)
    data['life_sq/full_sq'] = (data['life_sq'] + 1) / (data['full_sq'] + 1)
    data['life_sq/other_sq'] = (data['life_sq'] + 1) / (data['other_sq'] + 1)
    data['full_sq/life_sq'] = 1 / data['life_sq/full_sq']
    data['other_sq/life_sq'] = 1 / data['life_sq/other_sq']
    
    sample_data = data[['life_sq', 'other_sq', 'life_sq/other_sq']].copy()
    data.loc[:, 'life_sq'] = sample_data.apply(lambda x: x['life_sq'] if \
                                        x['life_sq/other_sq'] > 0.8 else x['other_sq'], axis=1)
    data.loc[:, 'other_sq'] = sample_data.apply(lambda x: x['other_sq'] if \
                                        x['life_sq/other_sq'] > 0.8 else x['life_sq'], axis=1)
    
    data['life_sq/full_sq'] = (data['life_sq'] + 1) / (data['full_sq'] + 1)
    data['life_sq/other_sq'] = (data['life_sq'] + 1) / (data['other_sq'] + 1)
    data['full_sq/life_sq'] = 1 / data['life_sq/full_sq']
    data['other_sq/life_sq'] = 1 / data['life_sq/other_sq'] 
    
    if is_train:
        data.drop(data[data['full_sq'] > 290].index, inplace=True)
        data.drop(1030, inplace=True)
    
    data.loc[:, 'max_floor'] = data.apply(lambda x: x['floor'] \
                                     if x['floor'] > x['max_floor'] else x['max_floor'], axis=1)
    data.loc[:, 'max_floor'] = data.apply(fill_max_floor, axis=1)
    data.loc[:, 'floor'] = data.apply(lambda x: x['max_floor'] // 2 if pd.isnull(x['floor']) \
                             else x['floor'], axis=1)
    data.loc[data['build_year'] < 1860, 'build_year'] = np.nan
    
    data.loc[:, 'num_room was missing'] = data['num_room'].isnull()
    data.loc[data['num_room'].isnull(), 'num_room'] = np.round(data.loc[data['num_room'].isnull(), \
                                                                       'life_sq'] / 23)
    data.loc[:, 'material'].fillna(7, inplace=True)
    
    for feature in missed_features:
        data[feature + ' was missing'] = data[feature].isnull()
        for area in set(data['sub_area'].values):
            if area in set(train['sub_area'].values):
                data.loc[(data['sub_area'] == area) & (pd.isnull(data[feature])), feature] = \
                train[(train['sub_area'] == area) & (~pd.isnull(train[feature]))][feature].median()

    data.loc[pd.isnull(data['product_type']), 'product_type'] = 'Investment'
                
    for column_name in data.columns:
        data[column_name + ' was missing'] = data[column_name].isnull()
    
    if is_train:
        my_imputer.fit(data.loc[:, numeric_features[: -1]])
    data.loc[:, numeric_features[: -1]] = my_imputer.transform(data.loc[:, numeric_features[: -1]])
    
    if is_train:
        my_scaler.fit(data.loc[:, numeric_features[: -1]])
    data.loc[:, numeric_features[:-1]] = my_scaler.transform(data.loc[:, numeric_features[: -1]])
    
    return data

In [17]:
new_train = custom_pipeline(train)
new_test = custom_pipeline(test, is_train=False)

In [18]:
new_train.isna().sum().sum()

0

In [19]:
new_test.isna().sum().sum()

0

In [20]:
new_train['month'] = new_train.apply(lambda x: x['timestamp'].month, axis=1)
new_train['year'] = new_train.apply(lambda x: x['timestamp'].year, axis=1)
new_test['month'] = new_test.apply(lambda x: x['timestamp'].month, axis=1)
new_test['year'] = new_test.apply(lambda x: x['timestamp'].year, axis=1)

In [21]:
numeric_features = new_train._get_numeric_data().columns
categorical_features = list(set(new_train.columns) - set(numeric_features))

categorical_features.remove('timestamp')

new_train[categorical_features].nunique()

big_market_raion               2
oil_chemistry_raion            2
water_1line                    2
ecology                        5
railroad_1line                 2
sub_area                     146
nuclear_reactor_raion          2
product_type                   2
detention_facility_raion       2
big_road1_1line                2
radiation_raion                2
railroad_terminal_raion        2
thermal_power_plant_raion      2
culture_objects_top_25         2
incineration_raion             2
dtype: int64

In [22]:
new_test[categorical_features].nunique()

big_market_raion               2
oil_chemistry_raion            2
water_1line                    2
ecology                        5
railroad_1line                 2
sub_area                     145
nuclear_reactor_raion          2
product_type                   2
detention_facility_raion       2
big_road1_1line                2
radiation_raion                2
railroad_terminal_raion        2
thermal_power_plant_raion      2
culture_objects_top_25         2
incineration_raion             2
dtype: int64

In [23]:
for column in categorical_features:
    if len(set(new_test[column]) - set(new_train[column])) > 0:
        print(column, list(set(new_test[column]) - set(new_train[column])))

In [24]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

label_encoder = LabelEncoder()

new_train.loc[:, 'sub_area'] = label_encoder.fit_transform(new_train['sub_area'])
new_test.loc[:, 'sub_area'] = label_encoder.transform(new_test['sub_area'])

In [25]:
label_features = ['sub_area']
one_hot_features = categorical_features.copy()
for feature in label_features:
    one_hot_features.remove(feature)

y = new_train['price_doc']
new_train.drop(columns=['price_doc'], inplace=True)

In [26]:
data_conc = pd.get_dummies(pd.concat([new_train, new_test], sort=False)[one_hot_features])

In [27]:
new_train.drop(columns=one_hot_features, inplace=True)
new_test.drop(columns=one_hot_features, inplace=True)

In [28]:
new_train_one_hot = data_conc.loc[: 30473, :]
new_test_one_hot = data_conc.loc[30474: , :]

In [29]:
new_train = pd.concat([new_train, new_train_one_hot], axis=1)
new_test = pd.concat([new_test, new_test_one_hot], axis=1)

In [30]:
numeric_features = new_train._get_numeric_data().columns
categorical_features = list(set(new_train.columns) - set (numeric_features))

In [31]:
for column in categorical_features:
    if not 'was missing' in column:
        print(column)

timestamp

In [32]:
new_train.drop(columns=['timestamp'], inplace=True)
new_test.drop(columns=['timestamp'], inplace=True)

In [33]:
set(new_train.columns) - set(new_test.columns)

{'price_doc was missing'}

In [34]:
new_train.drop(columns=['price_doc was missing'], inplace=True)

In [35]:
new_train_investment = pd.concat([new_train, y], axis=1)
new_train_investment = new_train_investment[new_train_investment['product_type_Investment'] == 1]
y_investment = new_train_investment['price_doc']
new_train_investment.drop(columns=['price_doc'], inplace=True)
new_train_owner_occupier = pd.concat([new_train, y], axis=1)
new_train_owner_occupier = new_train_owner_occupier[new_train_owner_occupier['product_type_OwnerOccupier'] == 1]
y_owner_occupier = new_train_owner_occupier['price_doc']
new_train_owner_occupier.drop(columns=['price_doc'], inplace=True)

In [37]:
def rmsle(y_true, y_pred):
    return 'RMSLE', np.sqrt(np.mean(np.power(np.log1p(y_pred) - np.log1p(y_true), 2))), False

In [36]:
grid_params = {
    'num_leaves' : [int(d) for d in np.linspace(20, 70, 10)],
    'learning_rate' : np.linspace(0.005, 0.15, 20),
    'n_estimators' : [int(d) for d in np.linspace(50, 200, 15)],
    'boosting_type' : ['gbdt', 'dart']
}

model = LGBMRegressor()
grid = GridSearchCV(model, grid_params, cv = 4, verbose=5)

In [38]:
grid.fit(new_train_investment, y_investment, eval_metric=rmsle)

Fitting 4 folds for each of 6000 candidates, totalling 24000 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

KeyboardInterrupt: